In [1]:
# !pip install opendatasets

In [2]:
# import opendatasets as od
# od.download("https://www.kaggle.com/datasets/mlg-ulb/creditcardfraud/download?datasetVersionNumber=3")

## importing libraries

In [1]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
## load dataset

data = pd.read_csv("creditcard.csv")
data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [3]:
data.shape

(284807, 31)

In [4]:
data["Class"].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [5]:
## checking info about the dataset

# data.info()

In [6]:
## missing values

# data.isnull().sum()

In [7]:
# data.plot()

In [8]:
## Observe the data

""" '0' --> Legit
    '1' --> Fraud"""

legit = data[data.Class == 0]
fraud = data[data.Class == 1]

In [9]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [10]:
## statistics

legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [11]:
## statistics

fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [12]:
## comapre values of both transaction

data.groupby("Class").mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [87]:
# ## Handling Imbalance Data using SMOTE method on fraus dataset

# X = fraud.iloc[:, :-1]
# y = fraud.iloc[:, -1]

In [88]:
# X.shape, y.shape

In [89]:
# ## SMOTE implementation

# from imblearn.over_sampling import SMOTE
# from collections import Counter

In [90]:
# ## before applying SMOTE to `fraud` dataset

# counter = Counter(y)
# print(counter)

In [91]:
# ## applying SMOTE 
# oversample = SMOTE()
# X,y = oversample.fit_resample(X,y)

# ## after applying smote
# counter = Counter(y)
# print(counter)

In [39]:
## handling imbalance dataset using Oversampling method

legit_sample = legit.sample(n = legit.shape[0])
fraud_sample = fraud.sample(n = legit.shape[0], replace = True)

In [41]:
fraud_sample.shape, legit_sample.shape

((284315, 31), (284315, 31))

In [43]:
final_data = pd.concat([legit_sample, fraud_sample])

In [44]:
final_data.shape

(568630, 31)

In [45]:
final_data["Class"].value_counts()

0    284315
1    284315
Name: Class, dtype: int64

In [46]:
## Spliting into features and values

X = final_data.iloc[:, :-1]
y = final_data.iloc[:, -1]

In [47]:
X.shape, y.shape

((568630, 30), (568630,))

In [50]:
# X
# y

In [51]:
## creating training and testing data

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size = .20, stratify = y, shuffle = True)

In [52]:
X_train.shape, X_test.shape, y_train.shape, y_test.shape

((454904, 30), (113726, 30), (454904,), (113726,))

In [83]:
## training logistic regression model using training and testing dataset and creating pipeline

# important packages to download

from sklearn.preprocessing import StandardScaler
from sklearn.pipeline import make_pipeline
from sklearn.tree import DecisionTreeClassifier

# pipe = make_pipeline(StandardScaler(), LogisticRegression()) # 94.97 % accuracy
# pipe = make_pipeline(StandardScaler(), DecisionTreeClassifier()) # 99.97 % accuracy


pipe.fit(X_train, y_train) ## apply scaling on training data

Pipeline(steps=[('standardscaler', StandardScaler()),
                ('decisiontreeclassifier', DecisionTreeClassifier())])

In [84]:
# ## evaluate pipeline

# from sklearn.model_selection import RepeatedStratifiedKFold, cross_val_score

# cv = RepeatedStratifiedKFold(n_splits = 10, n_repeats = 3, random_state = 42)
# scores = cross_val_score(pipe, X, y, scoring = 'f1_micro', cv = cv, n_jobs = -1)
# print("F1 Score: %.3f" % scores)

In [85]:
## Model Evaluation

## accuracy on training data

train_pred = pipe.predict(X_train)
train_accuracy = accuracy_score(train_pred, y_train)
print("Accuracy of training Data:", train_accuracy*100)

Accuracy of training Data: 100.0

In [86]:
## accuracy of testing data

test_pred = pipe.predict(X_test)
test_accuracy = accuracy_score(test_pred, y_test)
print("Accuracy of testing Data:", test_accuracy*100)

Accuracy of testing Data: 99.97450011430983